<nav>
  <ul>
    <li class="primero">PIP</li>
    <li class="segundo"><fa-icon [icon]="faPersonDigging"></fa-icon></li>
    <li class="tercero"><fa-icon [icon]="faBars"></fa-icon></li>
  </ul>
</nav>
<div class="container">
  <div class="rectangulo">
    <div class="cabezal">
      <h2>Consultar Listado de cuotas:</h2>
      <button (click)="downloadPDF()"><fa-icon [icon]="faFilePdf"></fa-icon> Descargar</button>
    </div>
    <p class="list">Listado Cuotas:</p>
    <div class="tabla" id="tabla-cuotas">
      <table>
        <tr>
          <th>Cuota N°</th>
          <th>Importe</th>
          <th>Emisión</th>
          <th>Vencimiento</th>
          <th>Estado</th>
          <th>Intereses</th>
          <th>Importe Actual</th>
          <th class="no-pdf">Pagar</th>
        </tr>
        <tr *ngFor="let item of listadoCuotasEmpresa">
          <td>Cuota {{item.id}}</td>
          <td>{{item.importe | currency}}</td>
          <td>{{item.fechaGeneracion | date:"dd MMM yyyy"}}</td>
          <td>{{item.fechaVencimiento | date:"dd MMM yyyy"}}</td>
          <td
            [ngClass]="{'pagada': item.estado === 'Pagada', 'pendiente': item.estado === 'Pendiente', 'vencida': item.estado === 'Vencida'}">
            {{item.estado}}</td>
          <td>{{item.interes | currency}}</td>
          <td>{{item.importeActual | currency}}</td>
          <td *ngIf="item.check" class="no-pdf"><input (change)="onCheckboxChange($event, item)" type="checkbox"></td>
        </tr>
      </table>
    </div>
    <div class="centrar">
      <button class="boton" (click)="solicitarGeneracionReferencia()"><fa-icon [icon]="faBarcode"></fa-icon> Pagar</button>
    </div>
  </div>
  <div class="modal" *ngIf="showModal" [ngClass]="{'open': showModal}">
    <div class="modal-content">
      <div *ngIf="referenciaPago && referenciaPago.cuotasSeleccionadas.length >0">
        <h2>Detalles de la Referencia de Pago</h2>
        <p>ID: N°{{ referenciaPago.identificador }}</p>
        <p>Cuotas Seleccionadas:</p>
        <ul>
          <li *ngFor="let cuota of referenciaPago.cuotasSeleccionadas">{{ cuota.id }}- {{cuota.importeActual | currency}} - {{
            cuota.estado }}</li>
        </ul>
        <p>Monto total: {{referenciaPago.montoAPagar| currency}}</p>
        <div class="botones">
          <button class="close-button" (click)="generatePdf(referenciaPago)"><fa-icon [icon]="faFilePdf"></fa-icon>
            Descargar</button>
          <button class="close-button" (click)="closeModal()"><fa-icon [icon]="faX"></fa-icon> Cerrar</button>
        </div>
      </div>
      <div *ngIf="!(referenciaPago && referenciaPago.cuotasSeleccionadas.length >0)">
        <h2>Selecciona cuotas para generar una referenciaPago</h2>
          <div class="botones">
            <button class="close-button" (click)="closeModal()"><fa-icon [icon]="faX"></fa-icon> Cerrar</button>
          </div>
      </div>
    </div>
  </div>
</div>